.notesCont
    each item in note= notes.reverse()


        if item.type == 'note'
            .note(data-type=`${item.type}` data-id=`${item['_id']}` tabindex='0')
                .header(contenteditable='true' placeholder='Enter note header' role='textbox')= item.header
                .noteText(contenteditable='true' placeholder='Add quick note...' role='textbox')= item.noteText

                .controls
                    .toolbar
                        .toolbarBtn.setTime(aria-label='time')
                        .toolbarBtn.delete(aria-label='delete')
                    .defaultBtn.edit Edit


        if item.type == 'list'
            .note(data-type=`${item.type}` data-id=`${item['_id']}` tabindex='0')
                .header(contenteditable='true' placeholder='Enter note header' role='textbox')= item.header
                .listCont
                    each list in item.list.unchecked
                        .listEl
                            .checkEl(aria-checked='false')
                            .textEl(contenteditable='true' role='textbox' aria-label='listText')= list
                            .delEl
                    each list in item.list.checked
                        .listEl
                            .checkEl(aria-checked='true')
                            .textEl(contenteditable='true' role='textbox' aria-label='listText')= list
                            .delEl
                    .listEl
                        .checkEl
                        .textEl(contenteditable='true' placeholder='New TODO' role='textbox' aria-label='newTodo')
                        .delEl

                .controls
                    .toolbar
                        .toolbarBtn.setTime(aria-label='time')
                        .toolbarBtn.delete(aria-label='delete')
                    .defaultBtn.edit Edit

    else
        .no-note
            .phrase Any Ideas...!?